@font-face { font-family: iconfont; src: url(../fonts/iconfont.eot?j1nzjo); src: url(../fonts/iconfont.eot?j1nzjo#iefix) format('embedded-opentype'), url(../fonts/icon-font.ttf?j1nzjo) format('truetype'), url(../fonts/iconfont.woff?j1nzjo) format('woff'), url(../fonts/iconfont.svg?j1nzjo#gr) format('svg'); font-weight: 400; font-style: normal }
[class*=" icon-"], [class^=icon-] { font-family: iconfont; speak: none; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }
.icon-github:before { content: "\e90e"; }
.icon-gavel:before { content: "\e900"; }
.icon-chat:before { content: "\e901"; }
.icon-code:before { content: "\e902"; }
.icon-ico:before { content: "\e903"; }
.icon-loopring:before { content: "\e904"; }
.icon-user:before { content: "\e905"; }
.icon-arrow-down:before { content: "\e906"; }
.icon-link:before { content: "\e907"; }
.icon-mail:before { content: "\e908"; }
.icon-medium:before { content: "\e909"; }
.icon-slack:before { content: "\e90a"; }
.icon-twitter:before { content: "\e90b"; }
.icon-download:before { content: "\e90c"; }
.icon-star:before { content: "\e90d"; }